<root>
	<!--是否是DEBUG模式-->
	<DEBUG>true</DEBUG>

	<!--基础配置-->
	<BaseConfig>
		<!--为ChatServer提供服务的监听地址-->
		<ChatServerAddress>192.168.0.102:13001</ChatServerAddress>		
		<!--为Web接口提供服务的监听地址-->
		<WebServerAddress>192.168.0.102:13002</WebServerAddress>
		<!--GoPs监控程序监听地址-->
    	<GopsAddr>192.168.0.102:13003</GopsAddr>
	</BaseConfig>

	<!--数据库连接字符串-->
	<DBConnection>
		<ConnectionString>
			<![CDATA[ 
				root:123456@tcp(192.168.0.102:3306)/chatserver?charset=utf8&parseTime=true&loc=Local&timeout=60s
			]]>
		</ConnectionString>
		<MaxOpenConns>10</MaxOpenConns>
		<MaxIdleConns>5</MaxIdleConns>
	</DBConnection>

	<!--监控配置-->
	<MonitorConfig>
		<!--监控使用的服务器IP-->
		<ServerIp>192.168.0.102</ServerIp>
		<!--监控使用的服务器名称-->
		<ServerName>ChatServerCenter_v5.0</ServerName>
		<!--监控的时间间隔（单位：分钟）-->
		<Interval>5</Interval>
	</MonitorConfig>
</root>